azure-ai-agents==1.2.0b5
azure-identity==1.17.0
python-dotenv==1.0.0
agent-framework-azure-ai==1.0.0b260123
agent-framework-devui==1.0.0b260123
agent-framework-core==1.0.0b260123
azure-cosmos==4.6.0
aiohttp==3.13.5
pydantic==2.13.4
openai==2.38.0
azure-search-documents==11.6.0
fastapi==0.136.3
uvicorn==0.47.0
azure-keyvault-secrets==4.7.0
azure-monitor-opentelemetry==1.4.0
azure-ai-contentsafety==1.0.0